.list {
  max-width: 600px;
  margin: 0 auto;
}

.item {
  background: purple;
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  transform: translateY(100px);
  color: #fff;
  padding: 30px;
  opacity: 0;
}

.item-title,
.item-description {
  opacity: 0;
  transform: translateX(-30px);
}
