<div class='movies'>
  {{#each this}}
    <div class='movie-card'>
      <img src='{{poster}}' alt='poster' class='movie-poster' />
      <h2 class='movie-title'>{{original_title}}</h2>
    </div>
  {{/each}}
</div>