.container {
  max-width: 600px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.movie-poster {
  width: 100%;
}

.pagination {
  margin-bottom: 100px;
}

.user-card {
  background: purple;
  color: #fff;
  padding: 25px;
  margin: 25px 0;
}

.delete-user-btn {
  background: red;
  border-radius: 4px;
  border-color: transparent;
  padding: 8px 15px;
  color: #fff;
  cursor: pointer;
}
